@tailwind base;
@tailwind components;
@tailwind utilities;

@import './base.css';

html {
  --bg: #f9f9f9;
  --text: #111;
}

html.dark {
  --bg: #111827;
  --text: #f9f9f9;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.dark a,
.dark .green {
  color: hsla(160, 100%, 70%, 1);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }

  .dark a:hover {
    background-color: hsla(160, 100%, 70%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0 2rem;
  }
}